.driver-dash{
    text-align: center;
    margin: 20px;
}
.vehicle-form,.vehicle-details{
padding: 10px;
border: 5px solid rgba(15, 14, 14, 0.2);
box-shadow: 0 0 10px rgba(0,0,0, .1);
}
.vehicle-form .sbtn,.vehicle-details .edbtn {
    margin: 5px;
    padding: 3px 5px;
}
.get,.add{
    margin: 5px;
    padding: 3px 5px;
}
.sbtn:hover{
    cursor: pointer;
}

.submit-btn{
    display: block;
    width: 50%;
    padding: 10px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin: 0 auto;
    margin-top: 10px;
    transition: background-color 0.3s ease;
}